body,html{
    padding: 0;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}
.main{
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main .main-img{
    display: block;
    width: 70%;
    height: auto;
}
img.background{
    position: absolute;
    top: 0;left: 0;
    width: auto;
    height: 100%;
}
.nav{
    width: 100%;
    height: 80px;
    background-color: rgba(244,244,244,0);
    position: relative;
}
.nav ul{
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: block;
    height: 100%;
}
.nav .logo{
    float: left;
    margin-top: 0px;
    margin-left: 100px;
    height: 80px;
    width: auto;
}
.nav li{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    display: block;
    text-align: center;
    line-height: 80px;
    margin-right: 5px;
    float: left;
    transition: text-shadow 0.3s,border 0.3s;
}
.nav li:hover{
    /*border-bottom: 3px solid rgba(0,178,238,0.3);*/
    text-shadow: 0 0 30px #fff;
}
.nav li:before{
    content: "";
    border: 10px solid transparent;
    border-bottom-color: rgba(255,255,255,0.6);
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.3s;
}
.nav li:hover:before,.nav li.active:before{
    bottom: 0;
}
.nav li.active{
    /*border-bottom: 3px solid rgba(0,178,238,0.3);*/
    text-shadow: 2px 2px 3px rgba(240,240,240,0.5);
}
.abs-center{
    position:absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
}
.test{
    width: 500px;
    height: 250px;
    background-color: rgba(0,178,238,0.6);
}
.test:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border:50px solid transparent;
    border-right-color: rgba(0,178,238,0.6);
    transform: translateY(-50%);
}
